.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  .text {
    font-size: 0.95rem;

    .link {
      text-decoration: underline;
    }
  }
}
