.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  height: 100%;

  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .icon {
      width: 1.7rem;
      height: 1.75rem;
      color: var(--primary-color);
    }

    .title {
      font-size: 1.5rem;
      font-weight: 600;

      .label {
        font-size: 1rem;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .link {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: transparent;
      transition: background-color 0.2s ease-in-out;

      &:hover:not(.suggest-resource) {
        background-color: color-mix(
          in srgb,
          var(--primary-color) 30%,
          transparent
        );
      }
    }

    .suggest-resource,
    .back-to-all-galleries {
      background-color: var(--primary-color);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    .back-to-all-galleries {
      background-color: transparent;
    }

    .themeToggle {
      height: 2rem;
      width: 2rem;
      color: var(--primary-color);
      background-color: var(--gallery-card-background);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
