@use "../../../../styles/abstracts/mixins" as *;
@use "../../../../styles/abstracts/variables" as *;

.gallery {
  overflow-y: scroll;
  @include flex(column, stretch, flex-start);

  .galleryGrid {
    position: relative;
    padding: $space-2xl;

    &::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: var(--gallery-card-background);
    }
  }

  .content {
    @include flex(column, stretch, flex-start, $space-2xl);
    padding: $space-2xl $space-4xl;
  }
}
