.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .icon {
      stroke-width: 3;
    }
  }

  .logoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--foreground);
    color: var(--background);
    font-weight: 600;

    .icon {
      width: 1rem;
      height: 1rem;
      stroke-width: 3;
    }
  }
}
