@use "../../../../styles/abstracts/mixins" as *;
@use "../../../../styles/abstracts/variables" as *;

.footer {
  width: 100%;
  @include flex(row, center, center);
  padding: $space-sm 0;

  .text {
    font-size: 0.95rem;

    .icon {
      font-size: 1.15rem;
      color: var(--primary);
    }

    .link {
      text-decoration: underline;
      color: var(--primary);
    }
  }
}
